body{
	background-color:#99A5C2;	
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	text-align:center;
	font-family:Impact;
	color:#333;
}

h1.title{
	margin-top:80px;
	font-size:55px;
	font-weight:800;	
}
 
#mainTimer{
	margin:30px auto 20px auto;
	font-size:25px;
	width:330px;
	height:180px;
	border:10px red solid;
	border-radius:50px;
	margin-top:100px;
} 
#mainTimer button{
	height:100%;
	width:100%;
	outline:none;
	background:transparent;
	border-radius:40px;
	font-family:Impact;
	font-size:20px;
	color:#333;
	border:0;
}
#mainTimer button:active{
	background-color:#dddddd;
	box-shadow:none;
}
#mainTimer button span{
	display:block;
	margin-top:30px;
}
.signature{
	font-size:20px;
	margin-top:100px;
}
a{
	color:rgba(255,0,0,0.8);
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}
a:link{
	text-decoration:none;
}